.left-bar{
    display: flex;
    background-color: grey;
    color: white;
}

.left-bar button{
    background-color: grey;
    color: white;
    margin-top: 0;

}

body{
    margin: 0;
    background-color: cadetblue;
}

#move{
    position: absolute;
    top: 0.5%;
    right: 2.8%;
    z-index: 1;
    overflow-x: hidden;
    transform: translate(50%);
    padding: 10px;

    border-radius: 5px;

}

#move1{
    position: absolute;
    top: 0.5%;
    right: 100px;
    z-index: 1;
    overflow-x: hidden;
    transform: translate(10%);
    padding: 10px;

}
#move2{
    position: absolute;
    top: 0%;
    left: 8.8%;
    z-index: 1;
    overflow-x: hidden;
    transform: translate(50%);
    padding: 14.5px;
}
